
<h1 style="font-size: 3.5vw; font-family: BarberFont ; color:black; text-align: center;">Admin Dashboard</h1>

<div class="blue content-box"> 
<h1>Customers</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="row">Customer name</th>
      <th scope="row">Customer number</th>
      <th scope="row">Customer photo path</th>
      <th scope="row">User Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_name %></td>
        <td><%= customer.customer_number %></td>
        <td><%= customer.customer_photo_path %></td>
        <td><%= customer.user.email %></td>
        <td><%= link_to 'Show', customer, :class => 'btn btn-default'%></td>
        <td><%= link_to 'Edit', edit_customer_path(customer), :class => 'btn btn-default'%></td>
        <!-- <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="red content-box"> 
<h1>Barbers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Barber Name</th>
      <th>Barber Bio</th>
      <th>Barber Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @barbers.each do |barber| %>
      <tr>
        <td><%= barber.barber_name %></td>
        <td><%= barber.barber_bio %></td>
        <td><%= barber.barber_photo_path %></td>
        <td><%= link_to 'Show', barber, :class => 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_barber_path(barber), :class => 'btn btn-default'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<div class="yellow content-box">
<h1>Services</h1>
<table class="table">
  <thead>
    <tr>
      <th>Service Name</th>
      <th>Service Description</th>
      <th>Service Duration</th>
      <th>Service Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.service_name %></td>
        <td><%= service.service_description %></td>
        <td><%= service.service_duration %> min</td>
        <td>€<%= service.service_price %></td>
        <td><%= link_to 'Show', service, :class => 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_service_path(service), :class => 'btn btn-default'%></td>
        <!-- <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div class="green content-box">
    <h1>Appointments</h1>
<table class="table">
  <thead>
    <tr>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>Appointment Duration</th>
      <th>Total Cost</th>
      <th>Status</th>
      <th>Customer</th>
      <th>Barber</th>
      <th>Services</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointment_date.strftime("%m-%d-%Y") %></td>
        <td><%= appointment.appointment_time.strftime("%H:%M") %></td>
        <td><%= appointment.appointment_duration %> min</td>
        <td>€<%= appointment.total_cost %></td>
        <td><%= appointment.status %></td>
        <td><%= appointment.customer.customer_name %></td>
        <td><%= appointment.barber.barber_name %></td>
        <td><% appointment.services.each do |service| %>
                <p><%= service.service_name %></p>
            <% end %>  
        </td>
        <td><%= link_to 'Show', appointment, :class => 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment), :class => 'btn btn-default'%></td>
        <!-- <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<style>
body{

  color:  #ffffff;
}
th{
  vertical-align: middle;
  text-align: center;
}
td{
  vertical-align: middle !important;
}
table{
  vertical-align: middle;
    width:100%
}
.yellow{
  background: #313131;
}
.blue{
  background: #525252;
}

.red{
  background:#414141;
}
.content-box{
  display:inline-block;
  margin:10px 0px;
  text-align: center;
  padding:0;
  width:100%;
}
.green{
  margin-top:10px;
  background:#1d1d1d;
  width: 100%;
}
h1{
  font-family: BarberFont;
  font-size: 2vw;
}
</style>