<%= form_with(model: barber, local: true) do |form| %>
  <% if barber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barber.errors.count, "error") %> prohibited this barber from being saved:</h2>

      <ul>
      <% barber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :barber_name , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :bio %>
    <%= form.text_area :barber_bio, class: "form-control" %>
  </div>

  <div class="form-group">

      <label>Choose your Avatar</label></br>
    <%= form.radio_button(:barber_photo_path, "avatar1") %>
    <%= image_tag "avatar1.png" %>
  
    <%= form.radio_button(:barber_photo_path, "avatar2") %>
    <%= image_tag "avatar2.png" %>
    
    <%= form.radio_button(:barber_photo_path, "avatar3") %>
    <%= image_tag "avatar3.png" %>
    
    <%= form.radio_button(:barber_photo_path, "avatar4") %>
    <%= image_tag "avatar4.png" %>
    
 
  </div>

  <div class="actions" style="margin-top: 20px;text-align: center;">
    <%= form.submit class: "btn btn-default" %>
  </div>
<% end %>
