<!DOCTYPE html>
<html lang="EN"> 
  <head>
    <title>BarbersOnRails</title> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>  

  <body>
    <div class="container" style="min-height:600px;">  
        <div style="text-align: center; font-size:3rem; margin-bottom:20px; color:rgb(15, 14, 14); background: rgba(220, 200, 20, 0.322)">
          <%= notice %>
        </div>
        
        <%= render 'layouts/navigation' %>
        
    <%= yield %>
  </div>
  </body>
</html>
